In [6]:
import pandas as pd

In [10]:
pd.__version__

'2.2.2'

In [11]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [12]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [13]:
pd.io.sql.get_schema(df, name='yellow_taxi_data')

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TEXT,\n  "tpep_dropoff_datetime" TEXT,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "RatecodeID" INTEGER,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL\n)'

In [14]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [15]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [16]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [22]:
from sqlalchemy import create_engine

In [24]:
engine = create_engine('postgresql://root:root@zen_cannon.orb.local:5432/ny_taxi')

In [25]:
engine.connect()

In [28]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [76]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=10000, low_memory=False)

In [77]:
df_iter

In [65]:
new_test = "hello"

In [78]:
from time import time
print("starting")
while True:
    try:
        
        t_start = time()

        df = next(df_iter)

        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', method='multi', chunksize=10000)

        t_end = time()
        print(f'Inserted another chunk, took {t_end - t_start:.3f} seconds')

    except StopIteration as e:
        print(e)
        print("No more data to process.")
        break

starting
Inserted another chunk, took 1.883 seconds
Inserted another chunk, took 1.948 seconds
Inserted another chunk, took 1.952 seconds
Inserted another chunk, took 2.121 seconds
Inserted another chunk, took 1.763 seconds
Inserted another chunk, took 1.941 seconds
Inserted another chunk, took 1.944 seconds
Inserted another chunk, took 1.988 seconds
Inserted another chunk, took 2.061 seconds
Inserted another chunk, took 1.878 seconds
Inserted another chunk, took 1.974 seconds
Inserted another chunk, took 1.965 seconds
Inserted another chunk, took 1.963 seconds
Inserted another chunk, took 1.981 seconds
Inserted another chunk, took 2.000 seconds
Inserted another chunk, took 1.981 seconds
Inserted another chunk, took 1.776 seconds
Inserted another chunk, took 1.924 seconds
Inserted another chunk, took 1.942 seconds
Inserted another chunk, took 1.947 seconds
Inserted another chunk, took 1.950 seconds
Inserted another chunk, took 1.960 seconds
Inserted another chunk, took 1.761 seconds
Inserted another chunk, took 1.932 seconds
Inserted another chunk, took 1.942 seconds
Inserted another chunk, took 2.132 seconds
Inserted another chunk, took 1.787 seconds
Inserted another chunk, took 1.999 seconds
Inserted another chunk, took 2.017 seconds
Inserted another chunk, took 1.945 seconds
Inserted another chunk, took 1.984 seconds
Inserted another chunk, took 1.846 seconds
Inserted another chunk, took 1.980 seconds
Inserted another chunk, took 1.991 seconds
Inserted another chunk, took 1.975 seconds
Inserted another chunk, took 1.991 seconds
Inserted another chunk, took 1.963 seconds
Inserted another chunk, took 1.821 seconds
Inserted another chunk, took 1.962 seconds
Inserted another chunk, took 1.972 seconds
Inserted another chunk, took 2.251 seconds
Inserted another chunk, took 1.744 seconds
Inserted another chunk, took 1.981 seconds
Inserted another chunk, took 1.971 seconds
Inserted another chunk, took 1.992 seconds
Inserted another chunk, took 2.018 seconds
Inserted another chunk, took 1.875 seconds
Inserted another chunk, took 1.917 seconds
Inserted another chunk, took 2.011 seconds
Inserted another chunk, took 1.955 seconds
Inserted another chunk, took 2.001 seconds
Inserted another chunk, took 1.947 seconds
Inserted another chunk, took 1.724 seconds
Inserted another chunk, took 1.897 seconds
Inserted another chunk, took 1.908 seconds
Inserted another chunk, took 2.038 seconds
Inserted another chunk, took 1.718 seconds
Inserted another chunk, took 1.886 seconds
Inserted another chunk, took 1.869 seconds
Inserted another chunk, took 1.894 seconds
Inserted another chunk, took 1.879 seconds
Inserted another chunk, took 1.768 seconds
Inserted another chunk, took 1.877 seconds
Inserted another chunk, took 1.945 seconds
Inserted another chunk, took 1.903 seconds
Inserted another chunk, took 1.943 seconds
Inserted another chunk, took 1.882 seconds
Inserted another chunk, took 1.734 seconds
Inserted another chunk, took 1.883 seconds
Inserted another chunk, took 2.111 seconds
Inserted another chunk, took 2.160 seconds
Inserted another chunk, took 1.766 seconds
Inserted another chunk, took 2.007 seconds
Inserted another chunk, took 1.956 seconds
Inserted another chunk, took 1.887 seconds
Inserted another chunk, took 1.943 seconds
Inserted another chunk, took 1.845 seconds
Inserted another chunk, took 1.936 seconds
Inserted another chunk, took 1.916 seconds
Inserted another chunk, took 1.982 seconds
Inserted another chunk, took 1.986 seconds
Inserted another chunk, took 1.936 seconds
Inserted another chunk, took 1.775 seconds
Inserted another chunk, took 1.904 seconds
Inserted another chunk, took 1.893 seconds
Inserted another chunk, took 2.031 seconds
Inserted another chunk, took 1.732 seconds
Inserted another chunk, took 1.904 seconds
Inserted another chunk, took 1.919 seconds
Inserted another chunk, took 1.937 seconds
Inserted another chunk, took 1.913 seconds
Inserted another chunk, took 1.770 seconds
Inserted another chunk, took 1.908 seconds
Inserted another chunk, took 1.939 seconds
Inserted another chunk, took 1.957 seconds
Inserted another chunk, took 1.939 seconds
Inserted another chunk, took 2.052 seconds
Inserted another chunk, took 1.749 seconds
Inserted another chunk, took 2.045 seconds
Inserted another chunk, took 1.955 seconds
Inserted another chunk, took 2.155 seconds
Inserted another chunk, took 1.790 seconds
Inserted another chunk, took 1.992 seconds
Inserted another chunk, took 1.904 seconds
Inserted another chunk, took 2.034 seconds
Inserted another chunk, took 1.955 seconds
Inserted another chunk, took 1.793 seconds
Inserted another chunk, took 2.005 seconds
Inserted another chunk, took 2.022 seconds
Inserted another chunk, took 1.930 seconds
Inserted another chunk, took 2.066 seconds
Inserted another chunk, took 1.999 seconds
Inserted another chunk, took 1.859 seconds
Inserted another chunk, took 1.931 seconds
Inserted another chunk, took 1.940 seconds
Inserted another chunk, took 2.086 seconds
Inserted another chunk, took 1.785 seconds
Inserted another chunk, took 1.939 seconds
Inserted another chunk, took 1.977 seconds
Inserted another chunk, took 1.965 seconds
Inserted another chunk, took 1.993 seconds
Inserted another chunk, took 1.779 seconds
Inserted another chunk, took 1.836 seconds
Inserted another chunk, took 1.914 seconds
Inserted another chunk, took 1.941 seconds
Inserted another chunk, took 1.968 seconds
Inserted another chunk, took 1.974 seconds
Inserted another chunk, took 1.811 seconds
Inserted another chunk, took 1.893 seconds
Inserted another chunk, took 1.919 seconds
Inserted another chunk, took 2.087 seconds
Inserted another chunk, took 1.768 seconds
Inserted another chunk, took 1.935 seconds
Inserted another chunk, took 1.878 seconds
Inserted another chunk, took 1.848 seconds
Inserted another chunk, took 1.919 seconds
Inserted another chunk, took 1.712 seconds

No more data to process.